body {
    background: rgb(254,198,106);
    background: radial-gradient(circle, rgba(254,198,106,1) 0%, rgba(253,187,45,1) 100%);
}
.calculator-base {
    width: 400px;
    height: 622px;
    background-color: rgb(40, 49, 60);
    margin: auto;
}
.calculator-screen {
    width: 370px;
    height: 110px;
    background-color: rgb(50, 60, 66);
    line-height: 140px;
    margin: auto;
}
.key {
    width: 80px;
    height: 80px;
    background-color: rgb(79, 60, 208);
    line-height: 80px;
    border: none;
    color: white;

}
.key:hover {
    background-color: rgb(70, 52, 184);
}
.key:active {
    background-color: rgb(127, 109, 241);
}
.key-equal {
    width: 176px;
    height: 80px;
    background-color: rgb(243, 61, 29);
    line-height: 70px;
    border: none;
    color: white;
}
.key-equal:hover {
    background-color: rgb(199, 50, 23);
}
.key-equal:active {
    background-color: rgb(238, 111, 89);
}